body{
  text-align: center;
  background-image: url(images/1.jpg);
  background-color: #E4D8DC;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Emblema One', cursive;
}

h1{
  color: black;
  font-size: 6rem;

}

p{
  color: black;
  font-size: 1rem;
  font-weight: 1000;
  line-height: 3;

}

.drum {
  outline: none;
  border: 8px solid black;
  font-size: 4.2rem;
  font-family: 'Emblema One', cursive;
  line-height: 1.6;
  font-weight: 550;
  color: black;
  text-shadow: 3px 0 black;
  border-radius: 12px;
  display: inline-block;
  width: 130px;
  height: 130px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
}



.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}
